<!doctype html>
<html lang="en">

<head>
    <title>Swap -  <%= car.itemName %></title>
    <meta name="description" content="carSwap" />
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/master.css" />
    <link rel="stylesheet" type="text/css" href="../css/swap.css" />
	
    
</head>

<body>
        <header class="banner">
            <% include partials/header.ejs %>
        </header>

        <% include partials/user-navigation.ejs %>
	
    <main>
        <% include partials/site-navigation.ejs %>

        <div id="bread">
        <ul>
            <li><a href="/index">Home</a></li>
            <li>></li>
            <li><a href="/categories">Categories</a></li>
            <li>></li>
            <li><a href="/swap">Swap</a></li>
            <li>></li>
            <li>
            <% var href="/item?itemCode=" + car.itemCode %>
                <a href="<%= href %>">
                    <%= car.itemName %>
                </a> 
            </li>
        </ul>
        </div>
        <div id="info">
                <form action="categories">
                        <input type="submit" value="Back to Car List"/>
                </form>

        <h1>Swap this item</h1>
        <br>
         <br>

         <div id="pictureContent" class="clearfix">
                <h2><strong>Car Name: </strong><%= car.itemName %></h2>

                <img id="pic" src="<%= car.imageURL %>" alt="img.jpg">
                <p><%= car.description %></p>
                <p>MORE Description</p>
                
                <% if(typeof itemStatus !== "undefined"){ %>          
                    <p id="itemStatus">Status: <%= itemStatus %></p>

                    <% if(itemStatus === "You have a swap offer for this item."){ %>
                        
                        <form action="/mySwaps">
                            <input type="submit" value="See the offer"/>
                        </form>
                        
        
                    <% } %>
        
               <% } %>

        </div>
         
        

        <% if(typeof bool === "boolean"){ %>

            <h2 style="color: red">You have no items available for swapping</h2>

        <% }else{ %>

         <h2>Select an item from your available swaps</h2>
                  
        
         <form id="submitSwap" action="/swap" method="POST">

         <ul id="myswaps">
            

                <% userCars.forEach(function(item){ %>
                    <li><input type="radio" name="itemCode" value="<%= item.itemCode %>">
                        <% var href="/item?itemCode=" + item.itemCode %>
                        <a href="<%= href %>">
                            <strong>  <%= item.yearModel + " "  + item.catalogCategory + " "+ item.itemName %> </strong>
                        </a>
                    </li>              
                 <% }); %>  
         </ul>
         <br>
         <input type="submit" value="SWAP">
         </form>

         <% } %>

         <% if(typeof duplicate !== "undefined"){ %>
            <br>
            <p id="duplicate">YOU HAVE ALREADY OFFERED ONE OF YOUR ITEMS FOR <%= car.itemName %></p>

         <% } %>



        <br>
        <br>
        <br>
		</div>
    </main>
	
	<footer id="Validation">
        <% include partials/footer.ejs %>
	</footer>
    
</body>
</html>
